*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
}
body {
    background-color:#fff;  
    color: #333;  
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; 
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 40px;
    margin-right: 10px;
}
.logo span{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.nav-links{
    list-style: none;
    display: flex;
}
.nav-links li{
    margin-inline: 50px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease;
}
.nav-links a.active{
    color: red;
    font-weight:bold;
}
.nav-links a:hover{
    color: red;
    font-weight: bold;
}
.faq {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
}

.faq h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;  
}

.section-divider{
    border-top: 2px solid #ccc;
    margin: 20px;
    width: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 40px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; 
}

.footer-section.left ul {
    list-style: none;
    padding: 0;
}u

.footer-section.left ul li{
    margin-bottom: 10px;
}

.footer-section.right p {
    margin: 5px 0;
    text-align: right;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 20px;
}
.social-icons a {
    margin: 0 5px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: white; 
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.social-icons a img {
    width: 16px;
    height: 16px;
}

.social-icons a:hover {
    transform: scale(1.1); 
}
