*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-inline: 50px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a.active {
    color: red;
    font-weight: bold;
}
.nav-links a:hover{
    color: red;
    font-weight: bold;
}
.tickets-section {
    padding: 50px 20px;
}

.tickets-header {
    background-color: #b50000;
    color: white;
    padding: 70px 0;
    font-size: 4rem;
    font-weight: bold;
}

.ticket-container {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.ticket {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 60px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.ticket-title {
    font-size: 1.2rem;
    color: #b50000;
    margin-bottom: 10px;
    font-weight: bold;
}

.ticket-price {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.buy-button {
    display: inline-block;
    background-color: #b50000;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #900000;
}

.section-divider{
    border-top: 2px solid #ccc;
    margin: 20px;
    width: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 40px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; 
}

.footer-section.left ul {
    list-style: none;
    padding: 0;
}

.footer-section.left ul li{
    margin-bottom: 10px;
}

.footer-section.right p {
    margin: 5px 0;
    text-align: right;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 20px;
}

.social-icons a {
    margin: 0 5px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    background-color: white; 
    border-radius: 50%; 
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.social-icons a img {
    width: 16px;
    height: 16px;
}

.social-icons a:hover {
    transform: scale(1.1); 
}


@media (max-width: 768px) {
    .ticket-container {
        flex-direction: column;
        gap: 20px;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        margin-top: 10px;
    }
}
